body{
  overflow: hidden !important;
  cursor: url('/images/cursor.cur'), auto;
  height: 100%;
  background-image: url('/images/bruegel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.story-div{
    background-color: rgba(0, 0, 0);
    color: #FFDE21;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: serif;
    border-radius: 1%;
    border: 50px double #FFDE21;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 9999;
    paint-order: stroke fill;
    -webkit-text-stroke: 5px black;
    animation: fadeIn 4.5s ease-in; 
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-div{
    background-color: #000;
    gap: 6px;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: auto;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    animation: fadeIn 2.5s ease-in; 
    width: 100%;
    position: relative;
}

.title-div{
    text-align: center;
    font-size: 120px;
    font-family: tarot;
    color: yellow;
    display: flex;
    justify-content: space-around;
    paint-order: stroke fill;
    -webkit-text-stroke: 10px black;
}

.card-counter{
  display: inline-flex;
}

#card-counter{
  padding: 0 12px;
}

.first-div{
  transition: all 150ms ease-in-out;
  border: 2px solid #FFDE21; 
  border-radius: 5px;          
}

.first-div:hover a{
  cursor: url('/images/cursor.cur'), auto;
}

.inactive {
  pointer-events: none;
  cursor: default;
}


.first-div:hover {
  opacity: 0.7;
}

.second-div{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.card-front{
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.file-div{
  background-color: rgba(0, 0, 0, 0.7);
  justify-items: center;           
  color: #FFDE21;                  
  font-size: 30px;             
  font-family: serif;
  border-radius: 1%;       
  border: 50px double #FFDE21;       
  width: 100%;
  height: 100%;                
  position: absolute;
  display: flex;
  z-index: 9999;
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.file-div-bg{
  z-index: 1;
  position: absolute;
  background-image: url('/images/bruegel.jpg');
  background-size: cover;
  background-position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.file-img{
  margin: auto;  
  border-width: 5px;
  border-color: #ff0;
  border-style: solid;
  width: 25%;
  animation: fadeIn 1.5s ease-in; 
}

.file-title{
  font-size: 30px;      
  font-weight: 700;      
  margin-bottom: 8px; 
  color: yellow;         
  text-align: center; 
  border-width: 5px;
  border-color: #ff0;
  border-style: solid;
  width: 25%;
  margin: auto;
  font-family: monospace;
  animation: fadeIn 1.5s ease-in; 
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.file-para{
  font-size: 25px;    
  color: #FFDE21;        
  text-align: center;     
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  font-family: monospace;      
  width: 65%;   
  height: 550px;
  animation: fadeIn 2s ease-in; 
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.file-para-title{
  font-size: 40px;    
  color: #FFDE21;        
  text-align: center;     
  font-family: monospace;    
  margin-bottom: 2%;    
  animation: fadeIn 1.5s ease-in;  
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.instructions-button, .file-btn, .story-btn {
  text-align: center;
  background-color: black;
  color: #FFDE21;
  font-size: 32px;       
  padding: 8px 16px;   
  border-radius: 50px;  
  border-color: #FFDE21;
  border-width: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;      
  font-family: monospace;
  cursor: url('/images/cursor.cur'), auto;
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.story-btn{
  margin-top: 4%;
  width: 25%;
}

.story-para{
  height: 680px;
}

.file-btn{
  animation: fadeIn 2s ease-in; 
}

.instructions-button{
  width: 20%;
  margin: auto;
}

.instructions-button:hover, .file-btn:hover, .story-btn:hover {
  background-color: yellow; 
  color: black;           
  paint-order: stroke fill;
  -webkit-text-stroke: 5px yellow;   
}

.preview-img {
  border-radius: 4px;     
  width: 100%;    
  height: 280px;                 
}

@font-face {
  font-family: 'tarot';  
  src: url('/fonts/tarot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.left-overlay-div{
    float: left;
    width: 50%;
    margin: auto;
}

.right-overlay-div{
    float: right;
    width: 50%;
    margin: auto;
    text-align: center;
}

.instructions-div{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('/images/Michelino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: yellow;
    z-index: 5;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0% 30%;
    background-position: center;
}


.instructions-title{
    font-size: 120px;
    font-family: tarot;
    margin: auto;
    margin-bottom: 0;
    paint-order: stroke fill;
    -webkit-text-stroke: 10px black;
}

.instructions{
  font-size: 26px;
  font-family: monospace;
  background-color: rgb(0, 0, 0, 0.8);
  border: 40px double #ff0;
  border-radius: 3%;
  padding: 2% 4%;
  display: grid;
  width: 100%;
  height: 75%;
  paint-order: stroke fill;
  -webkit-text-stroke: 5px black;
}

.generated-story{
    color: yellow;
    padding-top: 2%;
    padding-bottom: 3%; 
}

.instructions-para{
  margin: 2%;
  height: 475px;
}



.responsive-alert{
  color: yellow;
  display: none;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  justify-content: center;
  margin: 33%;
}



@media only screen and (max-width: 2400px) {
   .file-para{
    font-size: 19px;
  }

  .story-div{
    font-size: 25px;
  }

  .instructions{
    font-size: 19px;
  }
}


/*Responsive Design */

@media only screen and (max-width: 2000px) {
  .instructions{
    font-size: 16px;
  }

  .instructions-para{
    height: 400px;
  }

  .instructions-button, .file-btn, .story-btn {
    font-size: 19px;       
    padding: 2px 4px; 
  }

  .title-div{
    font-size: 90px;
  }

  .story-div{
    font-size: 22px;
  }



}


@media only screen and (max-width: 1600px) {

  .instructions-button, .file-btn, .story-btn {
    font-size: 18px;       
    padding: 2px 4px; 
  }

  .story-btn{
    margin-top: 0%;
  }
  
  .file-para{
    font-size: 15px;
    height: 390px;
  }

  .story-para{
    height: 500px;
  }


  .file-para-title{
    font-size: 22px;
  }

  .file-img{
    width: 30%;
  }

  .file-title{
    width: 30%;
    font-size: 15px;
  }

  .card-div{
    padding: 4px;
    gap: 4px;
  }

  .preview-img{
    height: 165px;
  }

  .title-div{
    font-size: 80px;
  }

  .instructions-title{
    font-size: 80px;
    font-family: tarot;
  }

  .instructions{
    font-size: 15px;
    font-family: monospace;
  }

  .instructions-para{
    height: 370px;
  }

  .story-div{
    font-size: 17px;
  }

}

@media only screen and (max-width: 1400px) {
   .instructions{
    font-size: 12px;
    font-family: monospace;
  }

  .title-div{
    font-size: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .file-para{
  font-size: 13px;    
}

.story-div{
    font-size: 15px;
  }
}


@media only screen and (max-width: 1000px) {
    .instructions-div{
      padding: 0% 5%;
      display: grid;
      place-content: normal;
    }

    .instructions-title{
      display: none;
    }

    .mobile-title {
      font-family: tarot;
      font-size: 25px;
    }

    .instructions {
      font-family: monospace;
      font-size: 10px;
      height: 95%;
    }

    .instructions-para{
      height: 165px;
    }

    .instructions-button{
      font-size: 12px;
      width: 35%;
    }

    .title-div {
      font-size: 30px;
    }

    .card-div {
      grid-template-columns: repeat(8, 1fr);
    }

    .file-div{
      border: 15px double #ffde21;
      display: grid;
      align-content: space-evenly;
    }

    file-para-title {
      font-size: 20px;
    }

    .file-para {
        height: 450px;
        font-size: 13px;
    }

    .file-title {
        width: 60%;
    }

    .file-img {
        width: 60%;
    }
    
    .right-overlay-div {
      float: none;
      text-align: center;
      width: 70%;
      margin: auto;
    }

    .left-overlay-div {
      float: none;
    }

    .story-div {
        font-size: 16px;
        display: grid;
        align-content: space-around;
    }

    .story-btn{
      width: 50%;
      margin: auto;
    }

}

@media only screen and (max-width: 700px) {
  .story-div {
        font-size: 15px;
        display: grid;
        align-content: space-around;
    }
}

@media only screen and (max-width: 600px) {
    .instructions-div{
      display: none;
    }

    .responsive-alert{
      display: flex;
    }

    .card-div{
      display: none;
    } 

    .title-div{
      display: none;
    }

}